=======
game-server/node_modules/*
game-server/logs/*
game-server/*.log
game-server/*.out
obd-simulator/data/*
robot/log/*
obd-simulator/node_modules/*
robot/node_modules/*
test/node_modules/*
web-server/node_modules/*
yixin-server/node_modules/*
shared/dao/node_modules/*
shared/obd-protocol/node_modules/iconv-lite
.idea/*
.idea/workspace.xml
stock.json
*.json

.idea
mysql_test/db/
redis_test/db/

nginx1.2.1_conf/access.log
nginx1.2.1_conf/index.html
nginx1.2.1_conf/index.html.1
nginx1.2.1_conf/logs/
redis_test/db/dump.rdb	
nginx1.2.1_conf/logs/rewrite.log

scripts/start_mongodb_pwd_ignore.sh
scripts/configcenter/start_adminservice.bat
scripts/configcenter/start_configservice.bat
scripts/configcenter/start_portal.bat
db